@model Krediti.Models.MBRData

@{
    ViewBag.Title = "Index";
}
    <img src="~/Images/rzsLogo.png" alt="RZS logo" style="width:15%;margin-bottom:20px;" />
    <div class="container border border-light rounded shadow p-3 mb-5 bg-white">

        <p>Поштовани,</p>
        <p>У циљу сагледавања реализације грађевинских активности према уговореним пословима чији је носилац Република Србија, Републички завод за статистику спроводи једнократно истраживање.</p>
        <p>Примарна интенција истраживања је да анализира потенцијалне потешкоће (финансијске, организационе, техничке или неке друге природе) у реализацији планова и начина за њихово отклањање. Сва питања се односе на уговорене послове са Републиком Србијом који треба да се реализују до краја године, било да је реч о реализацији целовитог посла или о реализацији дела посла до краја године.</p>
        
        @*<p>Унапред Вам се захваљујемо на сарадњи, уложеном труду и значајном доприносу успеху овог истраживања.</p>
        <p>Притисните дугме "Даље" и приступите попуњавању упитника.</p>*@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Dalje", "Create", "", new { @class = "btn btn-outline-secondary" })

            </div>
        </div>
        
    </div>

