@model Krediti.Models.Aktivnosti

@{
    ViewBag.Title = "Kraj";
}
    <img src="~/Images/rzsLogo.png" alt="RZS logo" style="width:15%;margin-bottom:20px;" />
    <div class="container border border-light rounded shadow p-3 mb-5 bg-white" > @*style="height: 500px"*@
        <div class="row h-100">
            <div class="col-sm-12 my-auto text-center">
                Хвала Вам што сте учествовали у истраживању. @*"Analiza paketa mera programa finansijske podrške privrednim subjektima"*@
            </div>
        </div>
    </div>
